body{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
    background-image: url("editors-keys-h63fLedowK8-unsplash.jpg");
    height: 100%;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur{
    background-color: rgb(169,169,169,0.5);
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}
#value{
    max-width: 100px;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
}
.fa {    
    text-align: center;  
    margin: 5px 2px;  
      font-size: 30px;  
      width: 30px;  
    }
  
    .fa-instagram {  
      color: white;  
    }